nav{
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  


    .NavButtons{
        padding-top: 25px;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 25px;
        background-color: var(--blue2);
        color: var(--whiteF);
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        font-family: "roboto", sans-serif;
        border-radius: 0;
    }  
}