
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --blue2: #2A324B;
    --blue5: #58699D;
    --whiteE: #E1E5EE;
    --whiteF: #fff;
}

html{
    font-family: "Roboto", sans-serif;
    background-color: var(--whiteE) !important;
    
   
}

#root{
    width: 100%;
}